@model Empleado

<h1>@Model.Apellido</h1>
<h1>@Model.Oficio</h1>
<h1>@Model.Salario</h1>
<h1>@Model.IdDepartamento</h1>

<a asp-controller="Empleados" asp-action="Index" class="btn btn-primary">Back to list</a>